[submodule "src/github.com/cloudfoundry-incubator/cf-mysql-bootstrap"]
	path = src/github.com/cloudfoundry-incubator/cf-mysql-bootstrap
	url = https://github.com/cloudfoundry-incubator/cf-mysql-bootstrap
[submodule "src/github.com/cloudfoundry-incubator/cf-mysql-cluster-health-logger"]
	path = src/github.com/cloudfoundry-incubator/cf-mysql-cluster-health-logger
	url = https://github.com/cloudfoundry-incubator/cf-mysql-cluster-health-logger.git
